In [1]:
import pandas as pd

In [2]:
CSV_PATH = 'output/uber_rides_enriched.csv'

In [3]:
df = pd.read_csv(
        CSV_PATH,
        parse_dates=['start_at','end_at','arrived_at','time_grid'],
    )

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23111 entries, 0 to 23110
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 23111 non-null  object
 1   driver_id               19726 non-null  object
 2   icon                    23111 non-null  object
 3   start_type              23111 non-null  object
 4   start_at                23111 non-null  datetime64[ns]
 5   start_lat               22212 non-null  float64
 6   start_lon               22212 non-null  float64
 7   end_at                  22835 non-null  datetime64[ns]
 8   end_lat                 22212 non-null  float64
 9   end_lon                 22212 non-null  float64
 10  end_state               23099 non-null  object
 11  driver_start_lat        18310 non-null  float64
 12  driver_start_lon        18310 non-null  float64
 13  arrived_at              17716 non-null  datetime64[ns]
 14  price                   22713 non-null  float64
 15  price_distance          19941 non-null  float64
 16  price_duration          19941 non-null  float64
 17  distance                22848 non-null  float64
 18  duration                22848 non-null  float64
 19  cost                    21760 non-null  float64
 20  cost_distance           18038 non-null  float64
 21  cost_duration           18038 non-null  float64
 22  source                  22988 non-null  object
 23  driver_score            7650 non-null   float64
 24  rider_score             15390 non-null  float64
 25  dist_driver_to_start_m  18310 non-null  float64
 26  time_driver_to_start_s  18310 non-null  float64
 27  dist_start_to_end_m     22212 non-null  float64
 28  time_start_to_end_s     22212 non-null  float64
 29  lat_grid                13026 non-null  float64
 30  lon_grid                13026 non-null  float64
 31  time_grid               13925 non-null  datetime64[ns]
 32  u10                     13026 non-null  float64
 33  v10                     13026 non-null  float64
 34  d2m                     13026 non-null  float64
 35  t2m                     13026 non-null  float64
 36  tcc                     13026 non-null  float64
 37  tp                      931 non-null    float64
dtypes: datetime64[ns](4), float64(28), object(6)
memory usage: 6.7+ MB

In [5]:
# Filas con coordenadas nulas y end_state == 'drop off'
mask = (
    df['start_lat'].isna() &
    (df['end_state'] == 'drop off')
)

# Cu√°ntas filas son
print(f"Se eliminan {mask.sum()} ({mask.sum()/len(df):.2%}) filas de un total de {len(df)}")

# Eliminar esas filas
df = df.loc[~mask].copy()

Se eliminan 533 (2.31%) filas de un total de 23111

In [6]:
df_drop = df[
    df.end_state == 'drop off'
]

df_n = df[
    ~(df.end_state == 'drop off')
].drop(
    columns=[
        'end_lat',
        'end_lon',
        'arrived_at',
        'price_distance',
        'price_duration',
        'distance',
        'duration',
        'cost',
        'cost_distance',
        'cost_duration',
        'driver_score',
        'rider_score',
        'dist_start_to_end_m',
        'time_start_to_end_s',
    ]
)

In [7]:
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16884 entries, 0 to 23108
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 16884 non-null  object
 1   driver_id               16884 non-null  object
 2   icon                    16884 non-null  object
 3   start_type              16884 non-null  object
 4   start_at                16884 non-null  datetime64[ns]
 5   start_lat               16884 non-null  float64
 6   start_lon               16884 non-null  float64
 7   end_at                  16880 non-null  datetime64[ns]
 8   end_lat                 16884 non-null  float64
 9   end_lon                 16884 non-null  float64
 10  end_state               16884 non-null  object
 11  driver_start_lat        16180 non-null  float64
 12  driver_start_lon        16180 non-null  float64
 13  arrived_at              16883 non-null  datetime64[ns]
 14  price                   16879 non-null  float64
 15  price_distance          16883 non-null  float64
 16  price_duration          16883 non-null  float64
 17  distance                16884 non-null  float64
 18  duration                16884 non-null  float64
 19  cost                    15953 non-null  float64
 20  cost_distance           15078 non-null  float64
 21  cost_duration           15078 non-null  float64
 22  source                  16787 non-null  object
 23  driver_score            7478 non-null   float64
 24  rider_score             14930 non-null  float64
 25  dist_driver_to_start_m  16180 non-null  float64
 26  time_driver_to_start_s  16180 non-null  float64
 27  dist_start_to_end_m     16884 non-null  float64
 28  time_start_to_end_s     16884 non-null  float64
 29  lat_grid                9886 non-null   float64
 30  lon_grid                9886 non-null   float64
 31  time_grid               9886 non-null   datetime64[ns]
 32  u10                     9886 non-null   float64
 33  v10                     9886 non-null   float64
 34  d2m                     9886 non-null   float64
 35  t2m                     9886 non-null   float64
 36  tcc                     9886 non-null   float64
 37  tp                      665 non-null    float64
dtypes: datetime64[ns](4), float64(28), object(6)
memory usage: 5.0+ MB

In [8]:
# Series de valores calculados
t_api_wait = df_drop['time_driver_to_start_s']
t_calc_wait = (df_drop['arrived_at'] - df_drop['start_at']).dt.total_seconds().clip(lower=0)

t_api_trip = df_drop['time_start_to_end_s']
t_calc_trip = (
    df_drop['end_at']
    - pd.DataFrame({'1': df_drop['start_at'], '2': df_drop['arrived_at']})
      .max(axis=1)
)
t_calc_trip = t_calc_trip.dt.total_seconds()

# Error porcentual
err_wait_pct = (t_api_wait - t_calc_wait).abs() / t_api_wait * 100
err_trip_pct = (t_api_trip - t_calc_trip).abs() / t_api_trip * 100

# Umbral del 20%
mask_wait = err_wait_pct > 50
mask_trip = err_trip_pct > 50
mask_any  = mask_wait | mask_trip

# Imprimir conteos
print(f"Valores de espera a reemplazar por API: {mask_wait.sum()}")
print(f"Valores de viaje a reemplazar por API: {mask_trip.sum()}")
print(f"Total de filas a usar dato de API: {mask_any.sum()}")

# DataFrame de filas para reemplazo
df_flag = df_drop.loc[mask_any].copy()
df_flag['err_wait_pct'] = err_wait_pct[mask_any]
df_flag['err_trip_pct'] = err_trip_pct[mask_any]

Valores de espera a reemplazar por API: 10519
Valores de viaje a reemplazar por API: 9034
Total de filas a usar dato de API: 13537

In [9]:
# Reemplazar las columnas de fechas por NaT en las filas que superen el umbral
#   Para las discrepancias de espera, anulamos 'arrived_at' (as√≠ falla el c√°lculo de espera).
df_drop.loc[mask_wait, ['arrived_at']] = pd.NaT

#   Para las discrepancias de trayecto, anulamos 'end_at' (as√≠ falla el c√°lculo de duraci√≥n de viaje).
df_drop.loc[mask_trip, ['end_at']]      = pd.NaT

# Verificaci√≥n
print(f"Filas modificadas: {mask_any.sum()}")

Filas modificadas: 13537